* {
  margin: 0px;
  padding: 0px;
}

Navbar {
  display: flex;
}

Navbar ul {
  display: flex;
  list-style: none;
  margin-left: 60px;
}

Navbar ul li {
  margin: 7px;
  padding: 25px;
}

.logo img {
  height: 60px;
  width: 140px;
}

.logo {
  margin: 70px;
  margin-top: 15px;
  margin-right: 50px;
}

.login {
  margin-left: 110px;
  margin-top: 20px;
  padding: 12px;
}

.container1{
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
  margin-left: -123px;
}

.container1 img {
    position: absolute;
  height: 50vh;
  width: 90vw;
  border-radius: 70px;
  margin: -30px;
  margin-left: 64px;
  z-index: -1;
}

.text{
    font-size: 35px;
    color: white;
    position: relative;
    margin-left: 550px;
    margin-top: 10px;
}

.container2{
    position: relative;
    height: 80vh;
    width: 80vw;
    border: solid 1px black;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    margin: 130px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features{
    margin: 20px;
    font-size: 40px;
    text-align: center;
}

.container3{
    height: 40vh;
    width: 80vw;
    border: 1px solid black;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.container3 ul{
    margin: 15px 0px;
    /* padding: 0 110px; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.container3 ul li img{
    height: 150px;
    width: 170px;
    opacity: 0.1;
    filter: blur(10px);
}

.container3 ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.review {
	/* background: rgb(145, 226, 188); */
	height: auto;
	width: 270px;
  border: 1px solid black;
	border-radius: 15px;
	margin: auto;
	padding: 10px;
	margin-top: 40px;
	/* box-shadow: 5px 5px 5px #32917d; */
	align-items: center;
}

.review__items {
	align-items: center;
	justify-content: space-evenly;
	width: 250px;
	padding: 10px;
	align-items: center;
}

.review__items img{
	height: 325px;
	width: 228px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
}

.review__items p {
	font-size: 14px;
}

.review__button {
	text-align: center;
	/* padding: 8px; */
}

.review__button button {
  height: 42px;
  width: 40px;
  font-size: 30px;
	color: white;
	background: rgb(105, 100, 100);
	font-weight: bolder;
  margin: 0 30px;
}

.review__items {
	display: none;
}

.right{
  height: 40vh;
  width: 20vw;
  margin: 0 130px;
  margin-bottom: 150px;
}

.heading{
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}

.dollar{
  font-size: 25px;
  margin-top: 15px;
}

strike{
  font-size: 20px;
}

.grn{
  color: rgb(73, 231, 73);
  font-weight: bold;
}

.mrgt{
  margin-top: 25px;
  margin-bottom: 0;
}

.right p{
  margin-left: 15px;
}

.btn{
  position: absolute;
  height: 60px;
  width: 300px;
  border-radius: 20px;
  background-color: black;
  color: white;
  /* text-align: center; */
  margin: 35px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardtext{
  font-size: 25px;
}